npm install --save-dev @babel/plugin-proposal-private-property-in-object
npm install axios
npm install @mui/material @emotion/react @emotion/styled --save
npm install @mdi/js --save
npm install @emotion/css --save
npm install idb --save
npm install @mui/icons-material --save
npm install @fortawesome/fontawesome-svg-core --save
npm install @fortawesome/react-fontawesome --save
npm install @fortawesome/free-solid-svg-icons --save
npm install @fortawesome/free-regular-svg-icons --save
npm install @fortawesome/free-brands-svg-icons --save
npm install --save-dev @babel/preset-env @babel/preset-react
npm install react-confirm-alert --save
npm install --save react-toastify
npm install react-slick slick-carousel
npm install -D tailwindcss postcss autoprefixer